/* .main{
    background-image: url(images/drew-coffman-1872.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
} */

.logo{
    background-color: black;
    margin: 0 0 0 50px; 
    /* display: inline;  */
    float: left;
    
    
} 
 
.logo img{
    width: 200px;
}

.links_main{
    /* float: right; */
    background-color: black;
}

.links{

     background-color: black; 
    /* display: inline; */
    margin: 20px 50px 0 10px; 
    float: right;
}

.clear{
    clear: both;
}

#home{
    /* margin: 0 50 0 350px; */
}


.links a{
    color: white;
    text-decoration: none;
    font-size: large;
} 